<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <!--
            You can configure various settings here, but for a basic "Hello, World!" application,
            minimal configuration is needed.
        -->
        <compilation debug="true" targetFramework="4.7.2"/>
        <httpRuntime targetFramework="4.7.2"/>
    </system.web>
</configuration>
